.fixed{
    position : fixed;
    z-index: 10;
    background-color: rgb(207, 240, 186);
    border: 2px solid rgb(82, 84, 191);
    border-radius: 30px;
    padding: 1%;
    top: 1%;
    left: 1%;
    right: 1%;
    width : 96%;
    /* margin-left: 5px;
    margin-bottom: 5px; */
}
h1{
    color: rgb(12, 95, 29);
    margin: 3px 0px 0px 10px;
}
.main_headers{
    text-align: center;
}
.headers{
    color: rgb(25, 25, 173);
    margin: 10px 50px 0px 0px;
    background-color: azure;
    padding : 3px;
    border: 2px solid red;
    border-radius: 5px;
    text-decoration: none;
}
#footer{
    text-align: center;
}
.main_page{
    margin : 1%;
    background-color: rgb(202, 231, 232);
}
.main_details{
    position: relative;
    margin-left : 10px;
    margin-bottom: 50px;
}
.myphoto{
    position: absolute;
    top: -5px;
    left: 45%;
}
.about_me{
    color: rgb(68, 81, 230);
    margin : 0px 0px -10px 10px;
}
.list{
    color: rgb(19, 92, 107);
    margin: 5px 0px 5px -3px;
}
.main_body{
    margin : 20px 0px 10px 0px;
    color: rgb(115, 57, 11);
}
.list1{
    opacity: 80%;
    margin: 10px 10px 0px 5px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}
.movable{
    margin-top: 15%;
}