h1{
    color: rgb(12, 95, 29);
    margin-left: 5px;
    margin-bottom: 5px;
}
.main_headers{
    text-align: center;
}
.headers{
    color: rgb(25, 25, 173);
    margin: 10px 50px 0px 0px;
    background-color: azure;
    padding : 3px;
    border: 2px solid red;
    border-radius: 5px;
    text-decoration: none;
}
#footer{
    text-align: center;
}
.main_page{
    margin : 10px;
    background-color: rgb(202, 231, 232);
}
.main_details{
    position: relative;
    margin-left : 10px;
    margin-bottom: 45px;
}
.myphoto{
    position: absolute;
    top: -18px;
    left: 400px;
}
.about_me{
    color: rgb(68, 81, 230);
    margin : 0px 0px -10px 10px;
}
.list{
    color: rgb(19, 92, 107);
    margin: 5px 0px 5px -3px;
}
.main_body{
    margin : 20px 0px 10px 0px;
    color: rgb(115, 57, 11);
}
.list1{
    opacity: 80%;
    margin: 10px 10px 0px 5px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}